body,
#root {
  height: 100vh;
}

.product-card {
  width: 18rem;
}

.form_container {
  width: 25%;
}

@media screen and (max-width: 1000px) {
  .form_container {
    width: 45%;
  }
}

@media screen and (max-width: 700) {
  .form_container {
    width: 65%;
  }
}
